body {
  margin: 0;
  font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
  font-family: Helvetica;
}

.header,
.footer {
  display: flex;
  flex-wrap: wrap;
}

.screen {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 2.94118vw 5.88235vw;
}

.logo {
  display: flex;
  align-items: center;
  padding: 0.98039vw 0;
  margin: 0 5.88235vw;
}

.logo__img {
  height: 2.94118vw;
  min-height: 20px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1.47059vw;
}

.link__img {
  padding: 0 1.47059vw;
  height: 1.5em;
}

.at_right {
  display: flex;
  align-items: center;
  margin-right: 5.88235vw;
  margin-left: auto;
}

.menu_btn {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
  font-size: 3em;
  font-weight: bold;
  line-height: 1em;
}

.carousel {
  position: relative;
  width: 100%;
  height: 46.54vw;
  user-select: none;
}

.carousel__el {
  position: absolute;
  background-size: cover;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s, visibility 1s linear 1s;
}

.carousel__el.--active {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s, visibility .5s linear 2s;
  transition-delay: 0s;
}

.promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: .6;
  text-shadow: 0px 0px 12px white, 0px 0px 12px white;
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

.promo__img {
  width: 65%;
}

.promo__text {
  font-size: 3.38235vw;
  color: black;
  margin-top: -8.82353vw;
}

.promo.--blink {
  opacity: 1;
  text-shadow: 0px 0px 50px white, 0px 0px 50px white, 0px 0px 50px white, 0px 0px 50px white;
}

.control {
  position: absolute;
  top: 5.88235vw;
  right: 5.88235vw;
  padding: 1.47059vw;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.control__btn {
  border-radius: 50px;
  border: 0.29412vw solid rgba(255, 255, 255, 0.6);
  margin: 1.47059vw 0;
  height: 0.58824vw;
  width: 0.58824vw;
  cursor: pointer;
}

.control__btn:hover,
.control__btn.--active {
  background: white;
}

.control__arrow {
  padding: 1.47059vw 0;
  font-size: 2.94118vw;
  cursor: pointer;
}

.pagination {
  font-weight: bold;
  padding: 1.47059vw 0;
}

.pagination__current {
  font-size: 2.94118vw;
}

.pagination__all {
  vertical-align: top;
  font-size: 1.47059vw;
}

.bg {
  position: absolute;
  background-size: cover;
  background-color: #f1f1f1;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.bg.--cover_by_width {
  background-size: 100%;
  background-position: center;
}

.box {
  background: white;
  box-sizing: border-box;
  padding: 1em;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2.94118vw;
  overflow: hidden;
}

.row.--reverse {
  flex-direction: row-reverse;
}

.row.--reverse .card_service {
  flex-direction: row-reverse;
}

.row.--space-between {
  justify-content: space-around;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 41.17647vw;
  margin: 0 auto;
}

.card_service {
  position: relative;
  display: flex;
  align-items: flex-end;
}

.card_service__box {
  min-width: 21em;
  flex-basis: 21em;
  min-height: 21em;
}

.card_service.--big {
  flex-basis: 35.29412vw;
}

.card_service.--small {
  flex-basis: 50%;
}

.card_service.--small .card_service__image {
  position: relative;
  width: 100%;
  height: 100%;
}

.card_service.--small:nth-child(1) {
  margin-bottom: 1.47059vw;
}

.card_activity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 20.58824vw;
  background-color: white;
  margin: 1.47059vw;
}

.card_activity__image {
  position: relative;
  z-index: 1;
  height: 14em;
}

.card_people {
  display: flex;
  flex-direction: column;
  flex-basis: 17.64706vw;
  margin: 1.47059vw;
  border: 1px solid black;
}

.card_people__image {
  position: relative;
  height: 20em;
}

.card_people__fio {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: end;
  font-size: 1.75em;
  margin-top: -.75em;
  padding-right: .5em;
}

.card_people__triangle {
  position: absolute;
  top: -.8em;
  left: 0;
  height: 4em;
  width: 200%;
  z-index: -1;
  background: white;
  transform: rotate(-8deg);
}

.card_people__box {
  text-align: center;
  min-height: 14em;
}

@media (max-width: 1350px) {
  .screen {
    padding: 2.94118vw;
  }
}