body {
  margin: 0;
  font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
  font-family: Helvetica;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer {
  display: flex;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  align-items: center;
  padding: 0.98039vw 0;
  margin: 0 5.88235vw;
}

.logo__img {
  height: 2.94118vw;
  min-height: 20px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1.47059vw;
}

.link__img {
  padding: 0 1.47059vw;
  height: 1.5em;
}

.at_right {
  display: flex;
  align-items: center;
  margin-right: 5.88235vw;
  margin-left: auto;
}

.menu_btn {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
  font-size: 3em;
  font-weight: bold;
  line-height: 1em;
}

.carousel {
  position: relative;
  height: 46.54vw;
  user-select: none;
}

.carousel__el {
  position: absolute;
  background-size: cover;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s, visibility 1s linear 1s;
}

.carousel__el.--active {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s, visibility .5s linear 2s;
  transition-delay: 0s;
}

.promo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: .6;
  text-shadow: 0px 0px 12px white, 0px 0px 12px white;
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

.promo__img {
  width: 65%;
}

.promo__text {
  font-size: 3.38235vw;
  color: white;
  margin-top: -8.82353vw;
}

.promo.--blink {
  opacity: 1;
  text-shadow: 0px 0px 50px white, 0px 0px 50px white, 0px 0px 50px white, 0px 0px 50px white;
}

.control {
  position: absolute;
  top: 5.88235vw;
  right: 5.88235vw;
  padding: 1.47059vw;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.control__btn {
  border-radius: 50px;
  border: 0.29412vw solid rgba(255, 255, 255, 0.6);
  margin: 1.47059vw 0;
  height: 0.58824vw;
  width: 0.58824vw;
  cursor: pointer;
}

.control__btn:hover,
.control__btn.--active {
  background: white;
}

.control__arrow {
  padding: 1.47059vw 0;
  font-size: 2.94118vw;
  cursor: pointer;
}

.pagination {
  font-weight: bold;
  padding: 1.47059vw 0;
}

.pagination__current {
  font-size: 2.94118vw;
}

.pagination__all {
  vertical-align: top;
  font-size: 1.47059vw;
}

@media (max-width: 480px) {
  .link {
    display: none;
  }
}