@font-face {
  font-family: HelveticaNeueCyrLight;
  src: url("../fonts/HelveticaNeueCyrLight.eot");
  src: url("../fonts/HelveticaNeueCyrLight.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyrLight.woff") format("woff"), url("../fonts/HelveticaNeueCyrLight.ttf") format("truetype");
}

@font-face {
  font-family: MyriadProRegular;
  src: url("../fonts/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular.ttf") format("truetype");
}

body {
  margin: 0;
  font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
  font-family: HelveticaNeueCyrLight;
  font-weight: bold;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-weight: unset;
  margin: unset;
}

a {
  text-decoration: unset;
  color: unset;
}

.header,
.footer {
  display: flex;
  flex-wrap: wrap;
  height: 5em;
}

.screen {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 5.88235vw;
  overflow: hidden;
}

.screen.--full {
  padding: 0;
}

.menu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 3;
  background: rgba(255, 255, 255, 0.85);
  justify-content: flex-end;
  user-select: none;
}

.menu__col {
  position: relative;
  margin: 5em;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  text-align: right;
}

.menu__col.--sub {
  display: none;
  position: absolute;
  justify-content: flex-start;
  margin: 0;
  left: -30em;
  top: 0;
  text-align: center;
  background: white;
  height: 100%;
  padding: 2em;
  width: 25em;
  border-right-width: 1px;
  border-right-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.menu__item {
  font-family: MyriadProRegular;
  font-weight: lighter;
  text-transform: uppercase;
  cursor: pointer;
  max-width: 25em;
}

.menu__item.--sub .menu__inner {
  color: #000;
  font-size: 2em;
  margin: 2em;
  line-height: 2em;
}

.menu__item.--sub:hover .menu__inner {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.menu__item:hover .menu__col.--sub,
.menu__item:hover .menu__line,
.menu__item:hover .menu__holder {
  display: flex;
}

.menu .menu__inner {
  position: relative;
  font-size: 2.5em;
}

.menu__line {
  display: none;
  position: absolute;
  top: 50%;
  width: calc(20em - 100%);
  height: 0;
  right: 100%;
  border-bottom: 1px dashed;
}

.menu__holder {
  display: none;
  position: absolute;
  top: 0;
  width: 15em;
  height: 100%;
  right: 100%;
}

.menu.--active {
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
  padding: 0.98039vw 0;
  margin: 0 5.88235vw;
}

.logo__img {
  height: 2.94118vw;
  min-height: 20px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1.47059vw;
}

.link__img {
  padding: 0 1.47059vw;
  height: 1.5em;
}

.at_right {
  display: flex;
  align-items: center;
  margin-right: 5.88235vw;
  margin-left: auto;
}

.menu_btn {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
  font-size: 3em;
  font-weight: bold;
  z-index: 5;
  user-select: none;
}

.menu_btn__inner.--close {
  display: none;
}

.menu_btn.--active .menu_btn__inner.--open {
  display: none;
}

.menu_btn.--active .menu_btn__inner.--close {
  display: flex;
}

.title {
  text-align: center;
  font-size: 4em;
  margin-bottom: 4.41176vw;
  text-transform: uppercase;
}

.carousel {
  position: relative;
  width: 100%;
  height: 46.54vw;
}

.carousel__el {
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s, visibility 1s linear 1s;
}

.carousel__el.--active {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s, visibility .5s linear 2s;
  transition-delay: 0s;
}

.promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: .6;
  text-shadow: 0px 0px 12px white, 0px 0px 12px white;
  transition-duration: 1500ms;
  transition-timing-function: ease-out;
}

.promo__img {
  width: 65%;
}

.promo__text {
  font-size: 3.38235vw;
  color: black;
  margin-top: -8.82353vw;
}

.promo.--blink {
  opacity: 1;
  text-shadow: 0px 0px 50px white, 0px 0px 50px white, 0px 0px 50px white, 0px 0px 50px white;
}

.control {
  position: absolute;
  font-size: 2.94118vw;
  top: 5.88235vw;
  right: 5.88235vw;
  padding: .5em;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  user-select: none;
}

.control__btn {
  border-radius: 50px;
  border: .1em solid;
  margin: .5em 0;
  height: .2em;
  width: .2em;
  cursor: pointer;
  background-color: white;
}

.control__arrow {
  font-size: 1em;
  cursor: pointer;
  padding-top: .22em;
}

.control.--horisontal {
  position: static;
  flex-direction: row;
  justify-content: center;
}

.control.--horisontal .control__btn {
  display: inline-block;
  margin: 0 1.47059vw;
}

.pagination {
  font-weight: bold;
  padding: .5em 0;
}

.pagination__current {
  font-size: 1em;
}

.pagination__all {
  vertical-align: top;
  font-size: .5em;
}

.bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.bg.--absolute {
  position: absolute;
}

.bg.--cover_by_width {
  background-size: 100%;
}

.bg.--top {
  background-position: center top;
}

.box {
  box-sizing: border-box;
  padding: 2em;
}

.box__title {
  font-size: 2em;
  text-align: center;
}

.box__text {
  margin-top: 2em;
  font-size: .8em;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2.94118vw;
  overflow: hidden;
}

.row.--reverse {
  flex-direction: row-reverse;
}

.row.--reverse .card_service {
  flex-direction: row-reverse;
}

.row.--space-between {
  justify-content: space-between;
}

.row.--center {
  justify-content: center;
}

.row.--small {
  position: relative;
  padding-left: 23.52941vw;
}

.row.--schedule {
  align-items: center;
  justify-content: space-around;
}

.row.--teachers {
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.row.--teachers .card_people {
  flex-basis: 10.29412vw;
  min-width: unset;
  font-size: .5em;
}

.row .card_people {
  margin: 1.47059vw;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 41.17647vw;
  margin: 0 auto;
}

.card_service {
  position: relative;
  display: flex;
  align-items: flex-end;
}

.card_service__box {
  min-width: 21em;
  flex-basis: 21em;
  min-height: 21em;
  background: white;
}

.card_service.--big {
  flex-basis: 35.29412vw;
}

.card_service.--small {
  flex-basis: 50%;
  min-height: max-content;
}

.card_service.--small .card_service__image {
  position: relative;
  width: 100%;
  height: 100%;
}

.card_service.--small:nth-child(1) {
  margin-bottom: 1.47059vw;
}

.card_activity {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 23.52941vw;
  background-color: white;
  margin: 1.47059vw 0;
  border-right: 1px solid;
  border-bottom: 1px solid;
  overflow: hidden;
}

.card_activity__image {
  position: relative;
  z-index: 1;
  height: 15em;
}

.card_activity__title {
  padding: .5em;
  font-size: 1.25em;
}

.card_activity__date {
  font-size: 1.25em;
  padding-left: 1em;
  padding-bottom: 1em;
}

.card_activity__angle {
  position: absolute;
  bottom: -1.47059vw;
  right: -1.47059vw;
  height: 2.94118vw;
  width: 2.94118vw;
  transform: rotate(45deg);
  background: #000;
}

.slider__wrap {
  position: relative;
  overflow: hidden;
}

.slider__content {
  position: relative;
  top: 200px;
  margin-top: -200px;
  padding-bottom: 200px;
  display: flex;
  max-width: 100%;
  overflow-x: scroll;
}

.card_people {
  display: flex;
  flex-direction: column;
  min-width: 17.64706vw;
  flex-basis: 17.64706vw;
  margin: 2.20588vw;
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.5);
  background: white;
}

.card_people__wrap {
  position: relative;
  overflow: hidden;
}

.card_people__image {
  height: 25em;
}

.card_people__image img {
  width: 100%;
}

.card_people__triangle {
  position: absolute;
  bottom: -1.25em;
  left: 0;
  height: 4em;
  width: 200%;
  background: white;
  transform: rotate(-8deg);
}

.card_people__fio {
  display: flex;
  flex-direction: column;
  text-align: end;
  font-size: 1.75em;
  padding-right: .5em;
}

.card_people__box {
  text-align: center;
  min-height: 10.29412vw;
}

.card_partner {
  display: flex;
  flex-direction: column;
  flex-basis: 17.64706vw;
  border-left: 0.73529vw solid;
  border-top: 0.73529vw solid;
  margin: 2.94118vw 0;
  z-index: 1;
}

.card_partner__image {
  position: relative;
  height: 11.76471vw;
}

.card_partner__image .bg {
  background-size: contain;
  background-color: white;
}

.rotated_img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 5.88235vw;
  height: 58.82353vw;
  z-index: -1;
}

#map {
  width: 100%;
  height: 41.17647vw;
  min-height: 15em;
  padding: 0;
  margin: 0;
}

/*Map styles*/

[class*="ymaps-2"][class*="-ground-pane"] {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
}

/*Map styles*/

.contacts {
  position: absolute;
  top: 7.35294vw;
  right: 5.88235vw;
  width: 20.58824vw;
  min-height: 30.88235vw;
  min-width: 15em;
  background: rgba(255, 255, 255, 0.7);
  font-size: 1.25em;
}

.contacts p {
  margin: 1.25em;
}

.content {
  box-sizing: border-box;
}

.content img {
  max-width: 100%;
  margin: 2em;
}

.day {
  position: relative;
  margin: 2.94118vw;
}

.day__img {
  max-width: 100%;
}

.day__text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.day.--ponedelnik {
  transform: rotate(-10deg);
}

.day.--sreda {
  transform: rotate(9deg);
}

.day.--chetverg {
  transform: rotate(26deg);
  margin-top: 8.82353vw;
  margin-bottom: -2.94118vw;
}

.day.--pyatnica {
  transform: rotate(-12deg);
}

.day.--subbota {
  transform: rotate(-4deg);
}

.day.--voskresenye {
  transform: rotate(13deg);
  margin-top: 5.88235vw;
}

.select {
  position: relative;
  width: 30em;
  height: 3em;
  margin: auto;
  max-width: 100%;
  background: white;
  user-select: none;
}

.select__item {
  position: relative;
  display: none;
  font-size: 2em;
  z-index: 1;
  background: white;
  outline: 1px solid black;
  padding: .25em;
  padding-left: .5em;
  cursor: pointer;
}

.select__item.--selected {
  display: block;
}

.select.--active .select__item {
  display: block;
}

.select__triangle {
  position: absolute;
  top: 35%;
  right: 1em;
  bottom: 0;
  z-index: 2;
  transform: rotate(45deg);
}

@media (max-width: 1350px) {
  .screen {
    padding: 5.88235vw 2.94118vw;
  }

  .box__text {
    font-size: 1em;
  }

  .row.--reverse .card_service {
    flex-direction: column;
  }

  .col {
    flex-direction: row;
    flex-basis: 100%;
  }

  .card_service__image {
    z-index: 1;
    position: relative;
    height: 30em;
    width: 100%;
  }

  .card_service__box {
    width: 100%;
    flex-basis: auto;
  }

  .card_service.--big {
    flex-basis: 100%;
  }

  .card_service.--small .card_service__image {
    height: 21em;
  }

  .card_service.--small {
    flex-basis: 49%;
  }

  .card_service {
    flex-direction: column;
    margin-bottom: 1.47059vw;
    background: white;
  }

  .card_activity {
    flex-basis: 29.41176vw;
  }

  .card_people {
    min-width: 35.29412vw;
    flex-basis: 35.29412vw;
  }

  .card_partner__image {
    height: 17.64706vw;
  }

  .card_partner {
    margin: 0.73529vw 0;
    flex-basis: 29.41176vw;
  }

  .rotated_img {
    left: 2.94118vw;
  }
}

@media (max-width: 1350px) and (max-width: 768px) {
  .card_service__image {
    height: 21em;
  }
}

@media (max-width: 1050px) {
  .menu__col {
    margin-right: 1em;
  }

  .menu__item {
    font-size: .5em;
  }

  .menu__item.--sub {
    font-size: 1em;
  }

  .day.--chetverg {
    margin: 2.94118vw;
  }

  .day.--voskresenye {
    margin: unset;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 2.5em;
  }

  .control {
    display: none;
  }

  .row.--teachers {
    flex-wrap: wrap;
  }

  .col {
    flex-wrap: wrap;
  }

  .card_service.--small {
    flex-basis: 100%;
  }

  .card_activity {
    flex-basis: 48%;
  }

  .card_people {
    min-width: 47.05882vw;
    flex-basis: 47.05882vw;
  }

  .card_partner {
    flex-basis: 48%;
  }

  #map {
    height: 73.52941vw;
  }

  .contacts p {
    margin: .25em;
  }

  .contacts {
    top: 50px;
    right: 0;
    min-height: unset;
  }

  .day {
    transform: unset !important;
  }
}

@media (max-width: 480px) {
  .logo {
    margin-right: 0;
  }

  .link__img {
    height: 1em;
  }

  .link {
    width: 0;
    margin: auto;
    white-space: nowrap;
    color: transparent;
  }

  .carousel {
    height: 100vw;
  }

  .control {
    font-size: 7.35294vw;
    padding: .25em;
    right: 0;
    top: 1.25em;
  }

  .pagination {
    padding: 0;
    font-size: .75em;
  }

  .card_activity {
    flex-basis: 100%;
  }

  .card_people {
    min-width: 88.23529vw;
    flex-basis: 88.23529vw;
  }

  #map {
    height: 102.94118vw;
  }

  .content img {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 360px) {
  #map {
    height: 147.05882vw;
  }
}