//<сетка>
$columns: 34
$atom: 100vw / $columns
//</сетка>
//<цвета>
$grey: #d4ddeb
$light_grey: #f7f7f7
$black: #2f2f2f
//</цвета>
//<брейкпоинты>
$extra_large: "max-width: 1350px"
$large: "max-width: 1050px"
$medium: "max-width: 768px"
$small: "max-width: 480px"
//</брейкпоинты>
//</теги>
body
    margin: 0
    font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)))
    font-family: Helvetica
//</теги>
//<контейнеры>
.header, .footer
    display: flex
    flex-wrap: wrap
.screen
    position: relative
    box-sizing: border-box
    width: 100%
    padding: $atom 2 * $atom
    @media($extra_large)
        padding: $atom
    &.--full
        padding: 0
//</контейнеры>
//<блоки>
//<блоки header, footer>
.logo
    display: flex
    align-items: center
    padding: $atom/3 0
    margin: 0 2*$atom
    &__img
        height: $atom
        min-height: 20px
.link
    display: flex
    align-items: center
    justify-content: flex-start
    padding: 0 $atom/2
    &__img
        padding: 0 $atom/2
        height: 1.5em
.at_right
    display: flex
    align-items: center
    margin-right: 2*$atom
    margin-left: auto
.menu_btn
    display: flex
    align-items: center
    height: 100%
    cursor: pointer
    font-size: 3em
    font-weight: bold
    line-height: 1em
//</блоки header, footer>
//<карусель>
.carousel
    position: relative
    width: 100%
    height: 46.54vw
    user-select: none
    &__el
        position: absolute
        background-size: cover
        height: 100%
        width: 100%
        opacity: 0
        visibility: hidden
        transition: opacity 2s, visibility 1s linear 1s
        &.--active
            opacity: 1
            visibility: visible
            transition: opacity 1s, visibility .5s linear 2s
            transition-delay: 0s
.promo
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100%
    height: 100%
    opacity: .6
    text-shadow: 0px 0px 12px white, 0px 0px 12px white
    transition-duration: 500ms
    transition-timing-function: ease-out
    &__img
        width: 65%
    &__text
        font-size: 1.15*$atom
        color: black
        margin-top: -3*$atom
    &.--blink
        opacity: 1
        text-shadow: 0px 0px 50px white, 0px 0px 50px white, 0px 0px 50px white, 0px 0px 50px white
.control
    position: absolute
    top: 2 * $atom
    right: 2 * $atom 
    padding: .5 * $atom
    background: rgba(white, .5)
    display: flex
    flex-direction: column
    align-items: center
    color: rgba(white, .6)
    &__btns
    &__btn
        border-radius: 50px
        border: .1 * $atom solid rgba(white, .6)
        margin: .5 * $atom 0
        height: .2 * $atom
        width: .2 * $atom
        cursor: pointer
        &:hover, &.--active
            background: white
    &__arrow
        padding: .5 * $atom 0
        font-size: $atom
        cursor: pointer
.pagination
    font-weight: bold
    padding: .5 * $atom 0
    &__current
        font-size: $atom
    &__all
        vertical-align: top
        font-size: .5 * $atom
//</карусель>
//<блоки main>
.bg
    position: absolute
    background-size: cover
    background-color: #f1f1f1
    background-repeat: no-repeat
    top: 0
    left: 0
    height: 100%
    width: 100%
    z-index: -1
    &.--cover_by_width
        background-size: 100%
        background-position: center
.box
    background: white
    box-sizing: border-box
    padding: 1em
//<услуги>
.row
    display: flex
    flex-wrap: wrap
    padding-bottom: $atom
    overflow: hidden
    &.--reverse
        flex-direction: row-reverse
        .card_service
            flex-direction: row-reverse
    &.--space-between
        justify-content: space-between
    &.--small
        padding-left: 8 * $atom
.col
    display: flex
    flex-direction: column
    justify-content: space-between
    flex-basis: 14 * $atom
    margin: 0 auto
.card_service
    position: relative
    display: flex
    align-items: flex-end
    &__box
        min-width: 21em
        flex-basis: 21em
        min-height: 21em
    &.--big
        flex-basis: 12 * $atom
    &.--small
        flex-basis: 50%
        .card_service__image
            position: relative
            width: 100%
            height: 100%
        &:nth-child(1)
            margin-bottom: $atom/2
//</услуги>
//<мероприятия>
.card_activity
    display: flex
    flex-direction: column
    justify-content: space-between
    flex-basis: 7 * $atom
    background-color: white
    margin: $atom/2 0
    &__image
        position: relative
        z-index: 1
        height: 14em
//</мероприятия>
//<люди>
.card_people
    display: flex
    flex-direction: column
    flex-basis: 6 * $atom
    border: 1px solid black
    margin: $atom/2 0
    &__image
        position: relative
        height: 20em
    &__fio
        position: relative
        display: flex
        flex-direction: column
        text-align: end
        font-size: 1.75em
        margin-top: -.75em
        padding-right: .5em
    &__triangle
        position: absolute
        top: -.8em
        left: 0
        height: 4em
        width: 200%
        z-index: -1
        background: white
        transform: rotate(-8deg)
    &__box
        text-align: center
        min-height: 14em
//</люди>
//<партнеры>
.card_partner
    display: flex
    flex-direction: column
    flex-basis: 6 * $atom
    border-left: .25 * $atom solid black
    border-top: .25 * $atom solid black
    margin: $atom 0
    &__image
        position: relative
        height: 4 * $atom
        .bg
            background-size: contain
            background-position: center
            background-color: white
//</партнеры>
//<карта>
#map
    width: 100%
    height: 14 * $atom
    min-height: 15em
    padding: 0
    margin: 0
.contacts
    position: absolute
    top: 2.5 * $atom
    right: 2 * $atom
    width: 7 * $atom
    height: 10.5 * $atom
    min-width: 15em
    min-height: 10em
    background: rgba(white, .7)
    p
        margin: .5em
//</карта>
//</блоки>
