@mixin addFont ($fontName)
    font-family: $fontName
    src: url('../fonts/'+$fontName+'.eot')
    src: url('../fonts/'+$fontName+'.eot?#iefix') format('embedded-opentype'),
    url('../fonts/'+$fontName+'.woff') format('woff'),
    url('../fonts/'+$fontName+'.ttf') format('truetype')
@font-face 
    @include addFont(HelveticaNeueCyrLight)
@font-face 
    @include addFont(MyriadProRegular)
//<сетка>
$columns: 34
$atom: 100vw / $columns
//</сетка>
//<цвета>
$grey: #d4ddeb
$light_grey: #f7f7f7
$black: #2f2f2f
//</цвета>
//<брейкпоинты>
$extra_large: "max-width: 1350px"
$large: "max-width: 1050px"
$medium: "max-width: 768px"
$small: "max-width: 480px"
$extra_small: "max-width: 360px"
//</брейкпоинты>
//</теги>
body
    margin: 0
    font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)))
    font-family: HelveticaNeueCyrLight
    font-weight: bold
    overflow-x: hidden
h1, h2, h3
    font-weight: unset
    margin: unset
a
    text-decoration: unset
    color: unset
//</теги>
//<контейнеры>
.header, .footer
    display: flex
    flex-wrap: wrap
    height: 5em
.screen
    position: relative
    box-sizing: border-box
    width: 100%
    padding: 2 * $atom
    @media($extra_large)
        padding: 2 * $atom $atom
    &.--full
        padding: 0
//</контейнеры>
//<блоки>
//<меню>
.menu
    display: none
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0
    z-index: 3
    background: rgba(white, .85)
    justify-content: flex-end
    user-select: none
    &__col
        position: relative
        margin: 5em
        margin-bottom: 0
        display: flex
        flex-direction: column
        justify-content: space-around
        box-sizing: border-box
        text-align: right
        @media($large)
            margin-right: 1em
        &.--sub
            display: none
            position: absolute
            justify-content: flex-start
            margin: 0
            left: -30em
            top: 0
            text-align: center
            background: white
            height: 100%
            padding: 2em
            width: 25em
            border-right-width: 1px
            border-right-style: solid
            border-bottom-width: 1px
            border-bottom-style: solid
    &__item
        font-family: MyriadProRegular
        font-weight: lighter
        text-transform: uppercase
        cursor: pointer
        max-width: 25em
        @media($large)
            font-size: .5em
        &.--sub
            @media($large)
                font-size: 1em
            .menu__inner
                color: #000
                font-size: 2em
                margin: 2em
                line-height: 2em
            &:hover
                .menu__inner
                    border-bottom-width: 1px
                    border-bottom-style: solid     
        &:hover
            .menu__col.--sub, .menu__line, .menu__holder
                display: flex
    .menu__inner
        position: relative
        font-size: 2.5em
    &__line
        display: none
        position: absolute
        top: 50%
        width: calc(20em - 100%)
        height: 0
        right: 100%
        border-bottom: 1px dashed
    &__holder
        display: none
        position: absolute
        top: 0
        width: 15em
        height: 100%
        right: 100%
    &.--active
        display: flex

//</меню>
//<блоки header, footer>
.logo
    display: flex
    align-items: center
    padding: $atom/3 0
    margin: 0 2*$atom
    &__img
        height: $atom
        min-height: 20px
    @media($small)
        margin-right: 0
.link
    display: flex
    align-items: center
    justify-content: flex-start
    padding: 0 $atom/2
    &__img
        padding: 0 $atom/2
        height: 1.5em
        @media($small)
            height: 1em
    @media($small)
        width: 0
        margin: auto
        white-space: nowrap
        color: transparent
.at_right
    display: flex
    align-items: center
    margin-right: 2*$atom
    margin-left: auto
.menu_btn
    display: flex
    align-items: center
    height: 100%
    cursor: pointer
    font-size: 3em
    font-weight: bold
    z-index: 5
    &__inner
        &.--close
            display: none
    &.--active
        .menu_btn__inner.--open
            display: none
        .menu_btn__inner.--close
            display: flex
//</блоки header, footer>
//<блоки main>
//<глобальные блоки>
.title
    text-align: center
    font-size: 4em
    margin-bottom: 1.5 * $atom
    text-transform: uppercase
    @media($medium)
        font-size: 2.5em
//</глобальные блоки>
//<карусель>
.carousel
    position: relative
    width: 100%
    height: 46.54vw
    &__el
        position: absolute
        background-size: cover
        background-position: center
        background-repeat: no-repeat
        height: 100%
        width: 100%
        opacity: 0
        visibility: hidden
        transition: opacity 2s, visibility 1s linear 1s
        &.--active
            opacity: 1
            visibility: visible
            transition: opacity 1s, visibility .5s linear 2s
            transition-delay: 0s
    @media($small)
        height: 100vw
.promo
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100%
    height: 100%
    opacity: .6
    text-shadow: 0px 0px 12px white, 0px 0px 12px white
    transition-duration: 1500ms
    transition-timing-function: ease-out
    &__img
        width: 65%
    &__text
        font-size: 1.15*$atom
        color: black
        margin-top: -3*$atom
    &.--blink
        opacity: 1
        text-shadow: 0px 0px 50px white, 0px 0px 50px white, 0px 0px 50px white, 0px 0px 50px white
.control
    position: absolute
    font-size: 1 * $atom
    top: 2 * $atom
    right: 2 * $atom
    padding: .5em
    background: rgba(white, .7)
    display: flex
    flex-direction: column
    align-items: center
    color: rgba(white, .6)
    user-select: none
    &__btns_box
    &__btn
        border-radius: 50px
        border: .1em solid
        margin: .5em 0
        height: .2em
        width: .2em
        cursor: pointer
        background-color: white
    &__arrow
        font-size: 1em
        cursor: pointer
        padding-top: .22em
    @media($small)
        font-size: 2.5 * $atom
        padding: .25em
        right: 0
        top: 1.25em
    &.--horisontal
        position: static
        flex-direction: row
        justify-content: center
        .control__btn
            display: inline-block
            margin: 0 $atom/2
    @media($medium)
        display: none
.pagination
    font-weight: bold
    padding: .5em 0
    &__current
        font-size: 1em
    &__all
        vertical-align: top
        font-size: .5em
        @media($small)
    @media($small)
        padding: 0
        font-size: .75em
//</карусель>
.bg
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    top: 0
    left: 0
    height: 100%
    width: 100%
    z-index: -1
    &.--absolute
        position: absolute
    &.--cover_by_width
        background-size: 100%
    &.--top
        background-position: center top
.box
    box-sizing: border-box
    padding: 2em
    &__title
        font-size: 2em
        text-align: center
    &__text
        margin-top: 2em
        font-size: .8em
        @media($extra_large)
            font-size: 1em
//<услуги>
.row
    display: flex
    flex-wrap: wrap
    padding-bottom: $atom
    overflow: hidden
    &.--reverse
        flex-direction: row-reverse
        .card_service
            flex-direction: row-reverse
            @media($extra_large)
                flex-direction: column
    &.--space-between
        justify-content: space-between
    &.--small
        position: relative
        padding-left: 8 * $atom
.col
    display: flex
    flex-direction: column
    justify-content: space-between
    flex-basis: 14 * $atom
    margin: 0 auto
    @media($extra_large)
        flex-direction: row
        flex-basis: 100%
    @media($medium)
        flex-wrap: wrap
.card_service
    position: relative
    display: flex
    align-items: flex-end
    &__image
        @media($extra_large)
            z-index: 1
            position: relative
            height: 30em
            width: 100%
            @media($medium)
                height: 21em
    &__box
        min-width: 21em
        flex-basis: 21em
        min-height: 21em
        background: white
        @media($extra_large)
            width: 100%
            flex-basis: auto
    &.--big
        flex-basis: 12 * $atom
        @media($extra_large)
            flex-basis: 100%
    &.--small
        flex-basis: 50%
        min-height: max-content
        .card_service__image
            position: relative
            width: 100%
            height: 100%
            @media($extra_large)
                height: 21em
        &:nth-child(1)
            margin-bottom: $atom/2
        @media($extra_large)
            flex-basis: 49%
        @media($medium)
            flex-basis: 100%
    @media($extra_large)
        flex-direction: column
        margin-bottom: $atom/2
        background: white
//</услуги>
//<мероприятия>
.card_activity
    position: relative
    display: flex
    flex-direction: column
    justify-content: space-between
    flex-basis: 8 * $atom
    background-color: white
    margin: $atom/2 0
    border-right: 1px solid
    border-bottom: 1px solid
    overflow: hidden
    &__image
        position: relative
        z-index: 1
        height: 15em
    &__title
        padding: .5em
        font-size: 1.25em
    &__date
        font-size: 1.25em
        padding-left: 1em
        padding-bottom: 1em
    &__angle
        position: absolute
        bottom: -.5*$atom
        right: -.5*$atom
        height: $atom * 1
        width: $atom * 1
        transform: rotate(45deg)
        background: #000
    @media($extra_large)
        flex-basis: 10 * $atom
    @media($medium)
        flex-basis: 48%
    @media($small)
        flex-basis: 100%
//</мероприятия>
//<люди>
.slider
    &__wrap
        position: relative
        overflow: hidden
    &__content
        position: relative
        top: 200px
        margin-top: -200px
        padding-bottom: 200px
        display: flex
        max-width: 100%
        overflow-x: scroll
.card_people
    display: flex
    flex-direction: column
    min-width: 6 * $atom
    margin: .75 * $atom
    box-shadow: 5px 5px 50px rgba(black, .5)
    &__wrap
        position: relative
        overflow: hidden
    &__image
        height: 25em
        img
            width: 100%
    &__triangle
        position: absolute
        bottom: -1.25em
        left: 0
        height: 4em
        width: 200%
        background: white
        transform: rotate(-8deg)
    &__fio
        display: flex
        flex-direction: column
        text-align: end
        font-size: 1.75em
        padding-right: .5em
    &__box
        text-align: center
        min-height: 3.5 * $atom
    @media($extra_large)
        min-width: 12 * $atom
    @media($medium)
        min-width: 16 * $atom
    @media($small)
        min-width: 30 * $atom
//<партнеры>
.card_partner
    display: flex
    flex-direction: column
    flex-basis: 6 * $atom
    border-left: .25 * $atom solid
    border-top: .25 * $atom solid 
    margin: $atom 0
    &__image
        position: relative
        height: 4 * $atom
        @media($extra_large)
            height: 6 * $atom
        .bg
            background-size: contain
            background-color: white
    @media($extra_large)
        margin: $atom/4 0
        flex-basis: 10 * $atom
    @media($medium)
        flex-basis: 48%

.rotated_img
    position: absolute
    top: 0
    bottom: 0
    margin: auto
    left: 2 * $atom
    height: 20 * $atom
    @media($extra_large)
        left: $atom
//</партнеры>
//<карта>
#map
    width: 100%
    height: 14 * $atom
    min-height: 15em
    padding: 0
    margin: 0
    @media($medium)
        height: 25 * $atom
    @media($small)
        height: 35 * $atom
    @media($extra_small)
        height: 50 * $atom
.contacts
    position: absolute
    top: 2.5 * $atom
    right: 2 * $atom
    width: 7 * $atom
    min-height: 10.5 * $atom
    min-width: 15em
    background: rgba(white, .7)
    font-size: 1.25em
    p
        margin: 1.25em
        @media($medium)
            margin: .25em
    @media($medium)
        top: 50px
        right: 0
        min-height: unset
//</карта>
//</блоки>
.content
    box-sizing: border-box
    img
        max-width: 100%
        margin: 2em
        @media($small)
            margin-left: 0
            margin-right: 0